In [28]:
import pandas as pd
import numpy as np

In [161]:
ama = pd.read_csv("../Data/Women Dresses Reviews Dataset .csv",index_col='s.no')
ama.head()

,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
s.no,,,,,,,,,,
0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1

In [162]:
len(ama)

23486

In [163]:
np.sum(ama.isnull())

age                        0
division_name             14
department_name           14
class_name                14
clothing_id                0
title                   3810
review_text              845
alike_feedback_count       0
rating                     0
recommend_index            0
dtype: int64

In [164]:
# na_ama=ama.dropna()
na_ama = ama.dropna(how='any')

In [165]:
np.sum(na_ama.isnull())

age                     0
division_name           0
department_name         0
class_name              0
clothing_id             0
title                   0
review_text             0
alike_feedback_count    0
rating                  0
recommend_index         0
dtype: int64

In [166]:
len(na_ama)

19662

In [167]:
na_ama

,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
s.no,,,,,,,,,,
0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1
...,...,...,...,...,...,...,...,...,...,...
23478,26,General,Tops,Knits,883,I like the feel of the fabric but...,It feels soft and like a good quality. however...,0,3,0
23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1
23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1
23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1
23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1

In [168]:
na_ama.class_name.unique()

array(['Jeans', 'Blouses', 'Skirts', 'Pants', 'Swim', 'Sweaters', 'Knits',
       'Fine gauge', 'Dresses', 'Shorts', 'Jackets', 'Outerwear',
       'Lounge', 'Intimates', 'Legwear', 'Trend', 'Sleep', 'Layering',
       'Casual bottoms', 'Chemises'], dtype=object)

In [169]:
na_ama.age.max()

99

In [170]:
na_ama.age.min()

18

In [171]:
Jeans = na_ama[na_ama.class_name == 'Jeans']

In [172]:
Jeans

,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
s.no,,,,,,,,,,
0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
55,39,General,Bottoms,Jeans,1039,I like them but...,First off: kudos to the other reviewers for se...,5,3,1
58,34,General,Bottoms,Jeans,1038,Just beautiful,"The embroidery is actually navy blue, not blac...",5,5,1
65,42,General,Bottoms,Jeans,1028,Perfect high rise,Citizens of humanity jeans are excellent!!! i ...,4,5,1
83,52,General,Bottoms,Jeans,1033,Prob good if you're curvy,"Ordered these in 31p last year, prob could hav...",4,3,1
...,...,...,...,...,...,...,...,...,...,...
23357,36,General Petite,Bottoms,Jeans,1037,Flattering and comfortable,I bought these in light grey and navy. they ar...,0,5,1
23365,48,General Petite,Bottoms,Jeans,1028,Rocket crop rocks,"These jeans are the best. fit perfectly, so so...",0,5,1
23396,36,General,Bottoms,Jeans,1033,Didn't work for my body type,I really like the pilcro serif style but the s...,0,3,0
23437,58,General,Bottoms,Jeans,1022,Inconsistent,I'm not sure what it is with ag. i own at leas...,5,2,0
23474,46,General,Bottoms,Jeans,1030,Great jean love mother,Love these vintage soft jeans.. they do run sm...,1,5,1

In [182]:
Jeans.age >= 20

s.no
0        True
55       True
58       True
65       True
83       True
         ...
23357    True
23365    True
23396    True
23437    True
23474    True
Name: age, Length: 970, dtype: bool

SyntaxError: cannot assign to comparison (3605360320.py, line 1)

0        True
55       True
58       True
65       True
83       True
         ...
23357    True
23365    True
23396    True
23437    True
23474    True
Name: age, Length: 970, dtype: bool